body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #3498db; /* Cambiado a un color azul similar al anterior */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Aumentado el radio de las esquinas para hacerlo más parecido */
    cursor: pointer;
    width: 100%; /* Ocupa todo el ancho disponible */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
